/Stack_example
/savedImages
/__pycache__
/LaTeX/border_propagation.synctex.gz
/LaTeX/border_propagation.pdf
/LaTeX/border_propagation.aux
/LaTeX/border_propagation.bbl
/LaTeX/border_propagation.blg
/LaTeX/border_propagation.dvi
/LaTeX/border_propagation.log
/LaTeX/border_propagation.toc
/LaTeX/border_propagation.out
/LaTeX/border_propagation.tex.orig
/LaTeX/border_propagation_ACVRW20 .aux
/LaTeX/border_propagation_ACVRW20 .log
/LaTeX/border_propagation_ACVRW20 .out
/LaTeX/border_propagation_ACVRW20 .pdf
/LaTeX/border_propagation_ACVRW20 .synctex.gz
/LaTeX/border_propagation_ACVRW20 .toc
/slope_region_descend.py.orig
/3D-Leveltorus-Reebgraph.png
/LaTeX/acvrw_template.pdf
/LaTeX/acvrw_template.synctex.gz
